<h2><%= @entry.name %></h2>
<h3>Rating (1 to 5 Stars): <%=@entry.average_rating%><br> Total Ratings: <%=@entry.total_ratings%></h3>
<h4>Tags:
<% @entry.tags.each do |tag| %>
  <span><a href="/tags/<%= tag.id %>"><%= tag.name %></a> </span>
<%end%>
</h4>

<h4>Recipe:</h4>
<p><%= @entry.description %></p>


<h5>Add a Rating:</h5>

<%= render('layouts/errors', :object => @rating) %>

<form action="/ratings/<%=params[:id]%>" method="post">
  <label for="rating">Rating</label>
  <input id="rating" name="rating[stars]" type="number" value="<%= @rating.stars %>">
<button>Add Rating</button>
</form>
<p><a href="/edit/<%= @entry.id %>">Edit this recipe</a></p>
<!-- <p><a href="/">Back to main page</a></p>
<p><a href="/new-tag">Create a tag</a></p> -->
